* {
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-family: 'Comic Sans MS';
    color: magenta;
}

main>ul {
    list-style: none;
    padding: 0;
}

li>a {
    margin-left: 1rem;
}

main>ul>li {
    padding: .5rem;
}