.message {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.message>* {
    margin-right: 1rem;
}

.input-box {
    padding: 1rem;
    height: 4rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}