body {
    height: 50vh;
}

.username-component,
.input-box {
    margin: 1rem auto;
}

.chat {
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 5rem;
    overflow-y: scroll;
    height: 100%;
}

.message {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
}

.message>.text {
    margin-bottom: 0.51rem;
}

.message>time {
    color: #333;
}